
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  background: #000;
  overflow: hidden;
}

.g-number {
  position: absolute;
  width: 300px;
  top: 27%;
  text-align: center;
  font-size: 32px;
  z-index: 10;
  color: #fff;
}

.g-container {
  position: relative;
  width: 300px;
  height: 400px;
  margin: auto;
}

.g-contrast {
  -webkit-filter: contrast(15) hue-rotate(0);
          filter: contrast(15) hue-rotate(0);
  width: 300px;
  height: 400px;
  background-color: #000;
  overflow: hidden;
  -webkit-animation: hueRotate 10s infinite linear;
          animation: hueRotate 10s infinite linear;
}

.g-circle {
  position: relative;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}
.g-circle::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  width: 200px;
  height: 200px;
  background-color: lime;
  border-radius: 41% 52% 43% 56% / 42% 38% 58% 49%;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}
.g-circle::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 176px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
}

.g-bubbles {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 40px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 100px 100px 0 0;
  background-color: lime;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

li {
  position: absolute;
  border-radius: 50%;
  background: lime;
}

li:nth-child(0) {
  left: 25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 29px;
  height: 29px;
  -webkit-animation: moveToTop 6s ease-in-out -0.4s infinite;
          animation: moveToTop 6s ease-in-out -0.4s infinite;
}

li:nth-child(1) {
  left: 37px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  -webkit-animation: moveToTop 4s ease-in-out -1.375s infinite;
          animation: moveToTop 4s ease-in-out -1.375s infinite;
}

li:nth-child(2) {
  left: 73px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  -webkit-animation: moveToTop 8s ease-in-out -4.341s infinite;
          animation: moveToTop 8s ease-in-out -4.341s infinite;
}

li:nth-child(3) {
  left: 71px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  -webkit-animation: moveToTop 7s ease-in-out -0.938s infinite;
          animation: moveToTop 7s ease-in-out -0.938s infinite;
}

li:nth-child(4) {
  left: 19px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  -webkit-animation: moveToTop 4s ease-in-out -0.974s infinite;
          animation: moveToTop 4s ease-in-out -0.974s infinite;
}

li:nth-child(5) {
  left: 73px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  -webkit-animation: moveToTop 5s ease-in-out -1.605s infinite;
          animation: moveToTop 5s ease-in-out -1.605s infinite;
}

li:nth-child(6) {
  left: 17px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  -webkit-animation: moveToTop 7s ease-in-out -2.839s infinite;
          animation: moveToTop 7s ease-in-out -2.839s infinite;
}

li:nth-child(7) {
  left: 54px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  -webkit-animation: moveToTop 4s ease-in-out -2.214s infinite;
          animation: moveToTop 4s ease-in-out -2.214s infinite;
}

li:nth-child(8) {
  left: 56px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  -webkit-animation: moveToTop 6s ease-in-out -1.963s infinite;
          animation: moveToTop 6s ease-in-out -1.963s infinite;
}

li:nth-child(9) {
  left: 50px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  -webkit-animation: moveToTop 8s ease-in-out -4.622s infinite;
          animation: moveToTop 8s ease-in-out -4.622s infinite;
}

li:nth-child(10) {
  left: 35px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  -webkit-animation: moveToTop 7s ease-in-out -2.304s infinite;
          animation: moveToTop 7s ease-in-out -2.304s infinite;
}

li:nth-child(11) {
  left: 28px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  -webkit-animation: moveToTop 9s ease-in-out -3.263s infinite;
          animation: moveToTop 9s ease-in-out -3.263s infinite;
}

li:nth-child(12) {
  left: 39px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  -webkit-animation: moveToTop 7s ease-in-out -3.769s infinite;
          animation: moveToTop 7s ease-in-out -3.769s infinite;
}

li:nth-child(13) {
  left: 78px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  -webkit-animation: moveToTop 6s ease-in-out -3.609s infinite;
          animation: moveToTop 6s ease-in-out -3.609s infinite;
}

li:nth-child(14) {
  left: 35px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  -webkit-animation: moveToTop 8s ease-in-out -2.547s infinite;
          animation: moveToTop 8s ease-in-out -2.547s infinite;
}

li:nth-child(15) {
  left: 56px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  -webkit-animation: moveToTop 9s ease-in-out -3.766s infinite;
          animation: moveToTop 9s ease-in-out -3.766s infinite;
}
/* 旋转 */
@-webkit-keyframes rotate {
  50% {
    border-radius: 42% 38% 58% 49% / 41% 52% 43% 56%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
            transform: translate(-50%, -50%) rotate(720deg);
  }
}

@keyframes rotate {
  50% {
    border-radius: 42% 38% 58% 49% / 41% 52% 43% 56%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
            transform: translate(-50%, -50%) rotate(720deg);
  }
}
@-webkit-keyframes moveToTop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: .1;
    -webkit-transform: translate(-50%, -180px);
            transform: translate(-50%, -180px);
  }
}
/* 小球往上移动 li 100%小球会向上-180px移动 消失*/
@keyframes moveToTop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: .1;
    -webkit-transform: translate(-50%, -180px);
            transform: translate(-50%, -180px);
  }
}
/* 颜色渐变 */
@-webkit-keyframes hueRotate { 
  100% {
    -webkit-filter: contrast(15) hue-rotate(360deg);
            filter: contrast(15) hue-rotate(360deg);
  }
}
@keyframes hueRotate {
  100% {
    -webkit-filter: contrast(15) hue-rotate(360deg);
            filter: contrast(15) hue-rotate(360deg);
  }
}